TRADEMARK.txt
README.txt
phpunit.xml.dist
PULL_REQUEST_TEMPLATE.txt
INSTALL.txt
COPYING.txt
CONTRIBUTING.txt
behat.yml.dist
#composer.*
Gruntfile.js
npm.shrinkwrap.json
package.json
tags.txt
.eslintignore
.eslintrc
.gherkin-lintrc
.jshintrc
.shifter.json
.stylelint*
.travis.yml
config-*
config.php


**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

phpinfo.php
.dockerignore